.uk-background-width-1-1, .uk-background-height-1-1{
	background-size: 100%;
}

.project-image{
	border: 1px solid rgba(0,0,0,0.16);
}
p{
	margin: 0px 0px 10px 0px;
}
.uk-navbar-nav>li>a{
	min-height: 0px;
}
.uk-padding-small-top{
	padding-top: 15px;
}

.uk-padding-small-bottom{
	padding-bottom: 15px;
}

.uk-position-center-bottom-out{
	top: 100%;
	height: max-content;
	left: 50%;
	transform: translateX(-50%);
	/* 1 */
	width: max-content;
	max-width: 100%;
	box-sizing: border-box;
}
.uk-position-top-right-out{
	left: 100%;
	width: max-content;
}

.uk-nav-sub>li.uk-active>a:before{
	top: 14px;
}

.uk-nav>li.uk-active>a:before{
	top: 18px;
}

.uk-nav>li.uk-active>a:before, .uk-nav-sub>li.uk-active>a:before {
    content: "";
    position: absolute;
    left: -25px;
    width: 15px;
    border-top: 1px solid #1e87f0;
}
.uk-nav>li.uk-active>a, .uk-nav-sub>li.uk-active>a {
    position: relative;
}

.uk-nav{
	font-size: 16px;
}

.uk-nav>li.uk-active>a, .uk-nav-sub>li.uk-active>a {
    color: #1e87f0 !important;
}

.uk-sidebar-right {
    position: absolute;
    top: 0;
    left: calc(100% + 0px);
    width: 200px;
}

h2.uk-section-title>a, a.hide-link{
	color: inherit;
    text-decoration: none;
}

footer a, main a{
	color: inherit;
	text-decoration: underline;
}

h2.uk-section-title>a:before {
	content: "#";
	position: absolute;
	width: 25px;
	margin-left: -25px;
	color: #999;
}

.uk-overlay-default{
	background: rgb(50 50 50 / 64%);
}

.uk-width-3xlarge {
  width: 980px;
}
@media (min-width: 640px) {
	.uk-width-3xlarge\@s {
	  width: 980px;
	}
	.uk-grid-medium\@s > * {
	  padding-left: 30px;
	}
	.uk-padding-small-top\@s {
		padding-top: 15px;
	}
	.uk-padding-small-bottom\@s {
		padding-bottom: 15px;
	}
}
@media (min-width: 960px) {
	.uk-width-3xlarge\@m {
	  width: 980px;
	}
	.uk-padding-small-top\@m {
		padding-top: 15px;
	}
	.uk-padding-small-bottom\@m {
		padding-bottom: 15px;
	}
}
@media (min-width: 1200px) {
	.uk-width-3xlarge\@l {
	  width: 980px;
	}
	.uk-padding-small-top\@l {
		padding-top: 15px;
	}
	.uk-padding-small-bottom\@l {
		padding-bottom: 15px;
	}
}
@media (min-width: 1600px) {
	.uk-width-3xlarge\@xl {
	  width: 980px;
	}
	.uk-padding-small-top\@xl {
		padding-top: 15px;
	}
	.uk-padding-small-bottom\@xl {
		padding-bottom: 15px;
	}
}