.project-image{
	border: 1px solid rgba(0,0,0,0.16);
}
p{
	margin: 0px 0px 10px 0px;
}
.uk-navbar-nav>li>a{
	min-height: 0px;
}
.uk-padding-small-top{
	padding-top: 15px;
}

.uk-padding-small-bottom{
	padding-bottom: 15px;
}

.uk-position-top-right-out{
	left: 100%;
	width: max-content;
}

.uk-nav>li.uk-active>a:before {
    content: "";
    position: absolute;
    top: 18px;
    left: -25px;
    width: 15px;
    border-top: 1px solid #1e87f0;
}
.uk-nav>li.uk-active>a {
    position: relative;
}

.uk-nav-default{
	font-size: 16px;
}

.uk-nav-default>li.uk-active>a {
    color: #1e87f0;
}

.uk-sidebar-right {
    position: absolute;
    top: 0;
    left: calc(100% + 0px);
    width: 200px;
}

h3.uk-section-title>a{
	color: inherit;
    text-decoration: none;
}

h3.uk-section-title>a:before {
	content: "#";
	position: absolute;
	width: 25px;
	margin-left: -25px;
	color: #999;
}